/* line 3, ../../scss/themes/dark/materials.scss */
body {
  font-weight: normal !important;
  line-height: normal !important;
}

/* line 8, ../../scss/themes/dark/materials.scss */
.page-dark .btn-primary {
  background-color: #1f1b24 !important;
  border-color: #1f1b24 !important;
}
/* line 13, ../../scss/themes/dark/materials.scss */
.page-dark .btn-secondary {
  background-color: #121212 !important;
  border-color: #121212 !important;
}
/* line 18, ../../scss/themes/dark/materials.scss */
.page-dark a {
  color: #1f1b24;
  text-transform: capitalize;
  text-decoration: none;
}
/* line 24, ../../scss/themes/dark/materials.scss */
.page-dark .tip {
  background-color: #121212;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  text-align: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
/* line 35, ../../scss/themes/dark/materials.scss */
.page-dark .tip:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: -28px;
  margin-top: -14px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #387c6d transparent transparent;
}
/* line 48, ../../scss/themes/dark/materials.scss */
.page-dark .card h1, .page-dark .card h2, .page-dark .card h3, .page-dark .card h4, .page-dark .card h5, .page-dark .card h6 {
  text-transform: capitalize !important;
  font-weight: normal;
}
/* line 54, ../../scss/themes/dark/materials.scss */
.page-dark #toTop {
  position: fixed;
  right: 2%;
  bottom: 10%;
  display: none;
  /*For better looking button*/
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
  background-color: #121212;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 18px;
  margin: 0;
  width: 50px;
  height: 50px;
}
/* line 77, ../../scss/themes/dark/materials.scss */
.page-dark .form-group input[type=text], .page-dark .form-group input[type=password] {
  box-shadow: none;
  border: 0.5px solid #E7E7E7;
  background-color: transparent !important;
}
/* line 82, ../../scss/themes/dark/materials.scss */
.page-dark .form-group input[type=text]:focus, .page-dark .form-group input[type=password]:focus {
  border: 0.5px solid #121212;
}
/* line 86, ../../scss/themes/dark/materials.scss */
.page-dark .form-group input[type=text]:checked, .page-dark .form-group input[type=password]:checked {
  border: 0.5px solid #121212;
}
/* line 93, ../../scss/themes/dark/materials.scss */
.page-dark .placeholder {
  position: absolute;
  top: 44px;
  left: 30px;
  transition: 0.5s;
  z-index: -2;
  opacity: 0.6;
}
/* line 102, ../../scss/themes/dark/materials.scss */
.page-dark .placeholder-up {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  font-size: 14px;
  transition: 0.3s;
  letter-spacing: 0.5px;
  padding: 1px 3px;
}

/* line 4, ../../scss/themes/dark/style.scss */
.page-dark {
  font-family: 'Roboto', sans-serif;
}
/* line 6, ../../scss/themes/dark/style.scss */
.page-dark #header {
  background-color: #1f1b24 !important;
}
/* line 9, ../../scss/themes/dark/style.scss */
.page-dark #header .navbar {
  border-radius: 5px;
  background-color: #1f1b24 !important;
}
/* line 13, ../../scss/themes/dark/style.scss */
.page-dark #header .navbar .nav-link {
  color: white !important;
  text-transform: capitalize;
}
/* line 19, ../../scss/themes/dark/style.scss */
.page-dark #header #photo {
  padding: 10px;
  border-radius: 10px;
}
/* line 23, ../../scss/themes/dark/style.scss */
.page-dark #header #photo img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 30%;
  border-radius: 50%;
}
/* line 32, ../../scss/themes/dark/style.scss */
.page-dark #header .theme-choice {
  position: absolute;
  top: 50px;
  left: 34px;
  width: 245px;
  padding: 3px 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 44, ../../scss/themes/dark/style.scss */
.page-dark #header .theme-choice .color {
  margin: 0 auto;
}
/* line 51, ../../scss/themes/dark/style.scss */
.page-dark #page-body .breadcrumb-host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* line 59, ../../scss/themes/dark/style.scss */
.page-dark #page-body .appointments .title {
  text-align: center;
  margin-bottom: 10px;
}
/* line 63, ../../scss/themes/dark/style.scss */
.page-dark #page-body .appointments .title h3 {
  text-transform: uppercase;
  z-index: 2;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px 10px;
  margin-top: 12px;
}
/* line 73, ../../scss/themes/dark/style.scss */
.page-dark #page-body .appointments .card {
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4);
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}
/* line 80, ../../scss/themes/dark/style.scss */
.page-dark #page-body .appointments .card .card-body .doctor-name {
  text-transform: uppercase;
}
/* line 83, ../../scss/themes/dark/style.scss */
.page-dark #page-body .appointments .card .card-body .doctor-name span {
  color: #121212;
  display: block;
  font-weight: bold;
}
/* line 90, ../../scss/themes/dark/style.scss */
.page-dark #page-body .appointments .card .card-body .hospital-name {
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 96, ../../scss/themes/dark/style.scss */
.page-dark #page-body .appointments .card .time {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  padding: 10px;
  color: white;
  background-color: #1f1b24;
}
/* line 109, ../../scss/themes/dark/style.scss */
.page-dark #page-body .UserInfos {
  margin-top: 60px;
  margin-left: -40px;
  font-size: 15px;
  text-transform: capitalize;
  height: 100%;
  padding: 20px 10px;
  border-radius: 15px;
}
/* line 118, ../../scss/themes/dark/style.scss */
.page-dark #page-body .UserInfos .UserInfo {
  display: flex;
  text-align: center;
}
/* line 122, ../../scss/themes/dark/style.scss */
.page-dark #page-body .UserInfos .UserInfo .info-q, .page-dark #page-body .UserInfos .UserInfo .info-a {
  min-width: 170px;
  padding: 5px 10px;
  color: white;
}
/* line 128, ../../scss/themes/dark/style.scss */
.page-dark #page-body .UserInfos .UserInfo .info-q {
  background-color: #1f1b24;
}
/* line 132, ../../scss/themes/dark/style.scss */
.page-dark #page-body .UserInfos .UserInfo .info-a {
  background-color: #121212;
}
/* line 138, ../../scss/themes/dark/style.scss */
.page-dark #page-body .vik-map {
  background-color: #E7E7E7;
  padding: 20px 30px;
  margin-top: 20px;
}
/* line 143, ../../scss/themes/dark/style.scss */
.page-dark #page-body .vik-map .title h3 {
  background-color: transparent;
}
/* line 150, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form {
  width: 40%;
  margin: 20px auto;
}
/* line 154, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form label {
  text-transform: capitalize;
}
/* line 158, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .requireds {
  color: red;
  font-size: 17px;
}
/* line 163, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group {
  position: relative;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 1px #f8f5f1;
  margin-bottom: 10px;
}
/* line 169, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group input {
  padding: 10px;
  margin-bottom: 1px;
}
/* line 174, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group .namebefore {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 21px;
  margin-top: 35px;
  background-color: #121212;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 187, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group .namebefore i {
  font-size: 30px;
  color: #E7E7E7;
}
/* line 193, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group .namebefore:hover .tip {
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
}
/* line 200, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group .namebefore .tip {
  position: absolute;
  left: 70px;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  opacity: .9;
  padding: 1px 3px;
  /* margin: 0; */
  width: 100px;
}
/* line 214, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group .span-group i {
  background-color: #121212;
  width: 45px;
  height: 45px;
  margin-top: -4px;
  margin-right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 226, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group .span-group {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
/* line 232, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group .span-group i {
  position: absolute;
  font-size: 30px;
  color: #E7E7E7;
  right: 5px;
  top: 4px;
}
/* line 241, ../../scss/themes/dark/style.scss */
.page-dark #page-body .register-form .form-group #password-icon:hover {
  cursor: pointer;
}
/* line 249, ../../scss/themes/dark/style.scss */
.page-dark #page-body .medicine .card, .page-dark #page-body .phones .card {
  padding: 15px 5% 15px 100px;
  position: relative;
}
/* line 253, ../../scss/themes/dark/style.scss */
.page-dark #page-body .medicine .card .tarih, .page-dark #page-body .phones .card .tarih {
  background-color: #1f1b24;
}
/* line 258, ../../scss/themes/dark/style.scss */
.page-dark #page-body .medicine .tarih, .page-dark #page-body .phones .tarih {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  left: 16px;
  color: #fff;
}
/* line 267, ../../scss/themes/dark/style.scss */
.page-dark #page-body .medicine .tarih .gun, .page-dark #page-body .phones .tarih .gun {
  font-family: "Roboto condensed",sans-serif;
  font-size: 28px;
  display: block;
  padding-top: 5px;
}
/* line 274, ../../scss/themes/dark/style.scss */
.page-dark #page-body .medicine .tarih .ay, .page-dark #page-body .phones .tarih .ay {
  margin-top: -7px;
  display: block;
}
/* line 279, ../../scss/themes/dark/style.scss */
.page-dark #page-body .medicine .tarih .home-widget-title, .page-dark #page-body .phones .tarih .home-widget-title {
  font-size: 18px;
  display: block;
  font-family: 'roboto condensed',sans-serif;
  color: #454545;
  margin-bottom: 10px !important;
}
/* line 287, ../../scss/themes/dark/style.scss */
.page-dark #page-body .medicine .tarih .textb, .page-dark #page-body .phones .tarih .textb {
  color: #70757e;
  display: block;
  font-size: 15px;
}
/* line 298, ../../scss/themes/dark/style.scss */
.page-dark #page-body .phones .phone .tarih {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
/* line 309, ../../scss/themes/dark/style.scss */
.page-dark footer {
  margin-top: 50px;
  color: white;
  background-color: #1f1b24;
  height: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
/* line 319, ../../scss/themes/dark/style.scss */
.page-dark footer span {
  font-size: 14px;
}
/* line 325, ../../scss/themes/dark/style.scss */
.page-dark .dene-form input:focus {
  box-shadow: none;
  border: none;
}
/* line 330, ../../scss/themes/dark/style.scss */
.page-dark .dene-form label {
  padding: 7px;
  text-transform: uppercase;
  height: 34px;
  margin-top: 2px;
  background-color: #1f1b24;
  color: white;
  width: 50px;
}

/* line 344, ../../scss/themes/dark/style.scss */
.theme-choice .color button {
  border-radius: 5px;
}

/* line 3, ../../scss/themes/blue/materials.scss */
body {
  font-weight: normal !important;
  line-height: normal !important;
}

/* line 8, ../../scss/themes/blue/materials.scss */
.page-blue .btn-primary {
  background-color: #0abde3 !important;
  border-color: #0abde3 !important;
}
/* line 13, ../../scss/themes/blue/materials.scss */
.page-blue .btn-secondary {
  background-color: #48dbfb !important;
  border-color: #48dbfb !important;
}
/* line 18, ../../scss/themes/blue/materials.scss */
.page-blue a {
  color: #0abde3;
  text-transform: capitalize;
  text-decoration: none;
}
/* line 24, ../../scss/themes/blue/materials.scss */
.page-blue .tip {
  background-color: #48dbfb;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  text-align: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
/* line 35, ../../scss/themes/blue/materials.scss */
.page-blue .tip:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: -28px;
  margin-top: -14px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #387c6d transparent transparent;
}
/* line 48, ../../scss/themes/blue/materials.scss */
.page-blue .card h1, .page-blue .card h2, .page-blue .card h3, .page-blue .card h4, .page-blue .card h5, .page-blue .card h6 {
  text-transform: capitalize !important;
  font-weight: normal;
}
/* line 54, ../../scss/themes/blue/materials.scss */
.page-blue #toTop {
  position: fixed;
  right: 2%;
  bottom: 10%;
  display: none;
  /*For better looking button*/
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
  background-color: #48dbfb;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 18px;
  margin: 0;
  width: 50px;
  height: 50px;
}
/* line 77, ../../scss/themes/blue/materials.scss */
.page-blue .form-group input[type=text], .page-blue .form-group input[type=password] {
  box-shadow: none;
  border: 0.5px solid #E7E7E7;
  background-color: transparent !important;
}
/* line 82, ../../scss/themes/blue/materials.scss */
.page-blue .form-group input[type=text]:focus, .page-blue .form-group input[type=password]:focus {
  border: 0.5px solid #48dbfb;
}
/* line 86, ../../scss/themes/blue/materials.scss */
.page-blue .form-group input[type=text]:checked, .page-blue .form-group input[type=password]:checked {
  border: 0.5px solid #48dbfb;
}
/* line 93, ../../scss/themes/blue/materials.scss */
.page-blue .placeholder {
  position: absolute;
  top: 44px;
  left: 30px;
  transition: 0.5s;
  z-index: -2;
  opacity: 0.6;
}
/* line 102, ../../scss/themes/blue/materials.scss */
.page-blue .placeholder-up {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  font-size: 14px;
  transition: 0.3s;
  letter-spacing: 0.5px;
  padding: 1px 3px;
}

/* line 4, ../../scss/themes/blue/style.scss */
.page-blue {
  font-family: 'Roboto', sans-serif;
}
/* line 6, ../../scss/themes/blue/style.scss */
.page-blue #header {
  background-color: #0abde3 !important;
}
/* line 9, ../../scss/themes/blue/style.scss */
.page-blue #header .navbar {
  border-radius: 5px;
  background-color: #0abde3 !important;
}
/* line 13, ../../scss/themes/blue/style.scss */
.page-blue #header .navbar .nav-link {
  color: white !important;
  text-transform: capitalize;
}
/* line 19, ../../scss/themes/blue/style.scss */
.page-blue #header #photo {
  padding: 10px;
  border-radius: 10px;
}
/* line 23, ../../scss/themes/blue/style.scss */
.page-blue #header #photo img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 30%;
  border-radius: 50%;
}
/* line 32, ../../scss/themes/blue/style.scss */
.page-blue #header .theme-choice {
  position: absolute;
  top: 50px;
  left: 34px;
  width: 245px;
  padding: 3px 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 44, ../../scss/themes/blue/style.scss */
.page-blue #header .theme-choice .color {
  margin: 0 auto;
}
/* line 51, ../../scss/themes/blue/style.scss */
.page-blue #page-body .breadcrumb-host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* line 59, ../../scss/themes/blue/style.scss */
.page-blue #page-body .appointments .title {
  text-align: center;
  margin-bottom: 10px;
}
/* line 63, ../../scss/themes/blue/style.scss */
.page-blue #page-body .appointments .title h3 {
  text-transform: uppercase;
  z-index: 2;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px 10px;
  margin-top: 12px;
}
/* line 73, ../../scss/themes/blue/style.scss */
.page-blue #page-body .appointments .card {
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4);
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}
/* line 80, ../../scss/themes/blue/style.scss */
.page-blue #page-body .appointments .card .card-body .doctor-name {
  text-transform: uppercase;
}
/* line 83, ../../scss/themes/blue/style.scss */
.page-blue #page-body .appointments .card .card-body .doctor-name span {
  color: #48dbfb;
  display: block;
  font-weight: bold;
}
/* line 90, ../../scss/themes/blue/style.scss */
.page-blue #page-body .appointments .card .card-body .hospital-name {
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 96, ../../scss/themes/blue/style.scss */
.page-blue #page-body .appointments .card .time {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  padding: 10px;
  color: white;
  background-color: #0abde3;
}
/* line 109, ../../scss/themes/blue/style.scss */
.page-blue #page-body .UserInfos {
  margin-top: 60px;
  margin-left: -40px;
  font-size: 15px;
  text-transform: capitalize;
  height: 100%;
  padding: 20px 10px;
  border-radius: 15px;
}
/* line 118, ../../scss/themes/blue/style.scss */
.page-blue #page-body .UserInfos .UserInfo {
  display: flex;
  text-align: center;
}
/* line 122, ../../scss/themes/blue/style.scss */
.page-blue #page-body .UserInfos .UserInfo .info-q, .page-blue #page-body .UserInfos .UserInfo .info-a {
  min-width: 170px;
  padding: 5px 10px;
  color: white;
}
/* line 128, ../../scss/themes/blue/style.scss */
.page-blue #page-body .UserInfos .UserInfo .info-q {
  background-color: #0abde3;
}
/* line 132, ../../scss/themes/blue/style.scss */
.page-blue #page-body .UserInfos .UserInfo .info-a {
  background-color: #48dbfb;
}
/* line 138, ../../scss/themes/blue/style.scss */
.page-blue #page-body .vik-map {
  background-color: #E7E7E7;
  padding: 20px 30px;
  margin-top: 20px;
}
/* line 143, ../../scss/themes/blue/style.scss */
.page-blue #page-body .vik-map .title h3 {
  background-color: transparent;
}
/* line 150, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form {
  width: 40%;
  margin: 20px auto;
}
/* line 154, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form label {
  text-transform: capitalize;
}
/* line 158, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .requireds {
  color: red;
  font-size: 17px;
}
/* line 163, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group {
  position: relative;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 1px #f8f5f1;
  margin-bottom: 10px;
}
/* line 169, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group input {
  padding: 10px;
  margin-bottom: 1px;
}
/* line 174, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group .namebefore {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 21px;
  margin-top: 35px;
  background-color: #48dbfb;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 187, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group .namebefore i {
  font-size: 30px;
  color: #E7E7E7;
}
/* line 193, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group .namebefore:hover .tip {
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
}
/* line 200, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group .namebefore .tip {
  position: absolute;
  left: 70px;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  opacity: .9;
  padding: 1px 3px;
  /* margin: 0; */
  width: 100px;
}
/* line 214, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group .span-group i {
  background-color: #48dbfb;
  width: 45px;
  height: 45px;
  margin-top: -4px;
  margin-right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 226, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group .span-group {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
/* line 232, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group .span-group i {
  position: absolute;
  font-size: 30px;
  color: #E7E7E7;
  right: 5px;
  top: 4px;
}
/* line 241, ../../scss/themes/blue/style.scss */
.page-blue #page-body .register-form .form-group #password-icon:hover {
  cursor: pointer;
}
/* line 249, ../../scss/themes/blue/style.scss */
.page-blue #page-body .medicine .card, .page-blue #page-body .phones .card {
  padding: 15px 5% 15px 100px;
  position: relative;
}
/* line 253, ../../scss/themes/blue/style.scss */
.page-blue #page-body .medicine .card .tarih, .page-blue #page-body .phones .card .tarih {
  background-color: #0abde3;
}
/* line 258, ../../scss/themes/blue/style.scss */
.page-blue #page-body .medicine .tarih, .page-blue #page-body .phones .tarih {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  left: 16px;
  color: #fff;
}
/* line 267, ../../scss/themes/blue/style.scss */
.page-blue #page-body .medicine .tarih .gun, .page-blue #page-body .phones .tarih .gun {
  font-family: "Roboto condensed",sans-serif;
  font-size: 28px;
  display: block;
  padding-top: 5px;
}
/* line 274, ../../scss/themes/blue/style.scss */
.page-blue #page-body .medicine .tarih .ay, .page-blue #page-body .phones .tarih .ay {
  margin-top: -7px;
  display: block;
}
/* line 279, ../../scss/themes/blue/style.scss */
.page-blue #page-body .medicine .tarih .home-widget-title, .page-blue #page-body .phones .tarih .home-widget-title {
  font-size: 18px;
  display: block;
  font-family: 'roboto condensed',sans-serif;
  color: #454545;
  margin-bottom: 10px !important;
}
/* line 287, ../../scss/themes/blue/style.scss */
.page-blue #page-body .medicine .tarih .textb, .page-blue #page-body .phones .tarih .textb {
  color: #70757e;
  display: block;
  font-size: 15px;
}
/* line 298, ../../scss/themes/blue/style.scss */
.page-blue #page-body .phones .phone .tarih {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
/* line 309, ../../scss/themes/blue/style.scss */
.page-blue footer {
  margin-top: 50px;
  color: white;
  background-color: #0abde3;
  height: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
/* line 319, ../../scss/themes/blue/style.scss */
.page-blue footer span {
  font-size: 14px;
}
/* line 325, ../../scss/themes/blue/style.scss */
.page-blue .dene-form input:focus {
  box-shadow: none;
  border: none;
}
/* line 330, ../../scss/themes/blue/style.scss */
.page-blue .dene-form label {
  padding: 7px;
  text-transform: uppercase;
  height: 34px;
  margin-top: 2px;
  background-color: #0abde3;
  color: white;
  width: 50px;
}

/* line 344, ../../scss/themes/blue/style.scss */
.theme-choice .color button {
  border-radius: 5px;
}

/* line 3, ../../scss/themes/default/materials.scss */
body {
  font-weight: normal !important;
  line-height: normal !important;
}

/* line 7, ../../scss/themes/default/materials.scss */
.page-default {
  /*  .form-group {
        input[type=text], input[type=password] {
            box-shadow: none;
            border: 0.5px solid color($colors, grey);
            background-color: transparent !important;

            &:focus {
                border: 0.5px solid color($colors, secondary);
            }

            &:checked {
                border: 0.5px solid color($colors, secondary);
            }
        }
    }*/
}
/* line 8, ../../scss/themes/default/materials.scss */
.page-default .btn-primary {
  background-color: #343f56 !important;
  border-color: #343f56 !important;
}
/* line 13, ../../scss/themes/default/materials.scss */
.page-default .btn-secondary {
  background-color: #387c6d !important;
  border-color: #387c6d !important;
}
/* line 18, ../../scss/themes/default/materials.scss */
.page-default a {
  color: #343f56;
  text-transform: capitalize;
  text-decoration: none;
}
/* line 24, ../../scss/themes/default/materials.scss */
.page-default .tip {
  background-color: #387c6d;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  text-align: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
/* line 34, ../../scss/themes/default/materials.scss */
.page-default .tip:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: -28px;
  margin-top: -14px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #387c6d transparent transparent;
}
/* line 47, ../../scss/themes/default/materials.scss */
.page-default .card h1, .page-default .card h2, .page-default .card h3, .page-default .card h4, .page-default .card h5, .page-default .card h6 {
  text-transform: capitalize !important;
  font-weight: normal;
}
/* line 53, ../../scss/themes/default/materials.scss */
.page-default #toTop {
  position: fixed;
  right: 2%;
  bottom: 10%;
  display: none;
  /*For better looking button*/
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
  background-color: #387c6d;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 18px;
  margin: 0;
  width: 50px;
  height: 50px;
}
/* line 92, ../../scss/themes/default/materials.scss */
.page-default .placeholder {
  position: absolute;
  top: 44px;
  left: 30px;
  transition: 0.5s;
  z-index: -2;
  opacity: 0.6;
}
/* line 101, ../../scss/themes/default/materials.scss */
.page-default .placeholder-up {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  font-size: 14px;
  transition: 0.3s;
  letter-spacing: 0.5px;
  padding: 1px 3px;
}

/* line 4, ../../scss/themes/default/style.scss */
.page-default {
  font-family: 'Roboto', sans-serif;
}
/* line 6, ../../scss/themes/default/style.scss */
.page-default #header {
  background-color: #343f56 !important;
}
/* line 9, ../../scss/themes/default/style.scss */
.page-default #header .navbar {
  border-radius: 5px;
  background-color: #343f56 !important;
}
/* line 13, ../../scss/themes/default/style.scss */
.page-default #header .navbar .nav-link {
  color: white !important;
  text-transform: capitalize;
}
/* line 19, ../../scss/themes/default/style.scss */
.page-default #header #photo {
  padding: 10px;
  border-radius: 10px;
}
/* line 23, ../../scss/themes/default/style.scss */
.page-default #header #photo img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 30%;
  border-radius: 50%;
}
/* line 32, ../../scss/themes/default/style.scss */
.page-default #header .theme-choice {
  position: absolute;
  top: 50px;
  left: 34px;
  width: 245px;
  padding: 3px 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 44, ../../scss/themes/default/style.scss */
.page-default #header .theme-choice .color {
  margin: 0 auto;
}
/* line 51, ../../scss/themes/default/style.scss */
.page-default #page-body .breadcrumb-host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* line 59, ../../scss/themes/default/style.scss */
.page-default #page-body .appointments .title {
  text-align: center;
  margin-bottom: 10px;
}
/* line 63, ../../scss/themes/default/style.scss */
.page-default #page-body .appointments .title h3 {
  text-transform: uppercase;
  z-index: 2;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px 10px;
  margin-top: 12px;
}
/* line 73, ../../scss/themes/default/style.scss */
.page-default #page-body .appointments .card {
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4);
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}
/* line 80, ../../scss/themes/default/style.scss */
.page-default #page-body .appointments .card .card-body .doctor-name {
  text-transform: uppercase;
}
/* line 83, ../../scss/themes/default/style.scss */
.page-default #page-body .appointments .card .card-body .doctor-name span {
  color: #387c6d;
  display: block;
  font-weight: bold;
}
/* line 90, ../../scss/themes/default/style.scss */
.page-default #page-body .appointments .card .card-body .hospital-name {
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 96, ../../scss/themes/default/style.scss */
.page-default #page-body .appointments .card .time {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  padding: 10px;
  color: white;
  background-color: #343f56;
}
/* line 109, ../../scss/themes/default/style.scss */
.page-default #page-body .UserInfos {
  margin-top: 60px;
  margin-left: -40px;
  font-size: 15px;
  text-transform: capitalize;
  height: 100%;
  padding: 20px 10px;
  border-radius: 15px;
}
/* line 118, ../../scss/themes/default/style.scss */
.page-default #page-body .UserInfos .UserInfo {
  display: flex;
  text-align: center;
}
/* line 122, ../../scss/themes/default/style.scss */
.page-default #page-body .UserInfos .UserInfo .info-q, .page-default #page-body .UserInfos .UserInfo .info-a {
  min-width: 170px;
  padding: 5px 10px;
  color: white;
}
/* line 128, ../../scss/themes/default/style.scss */
.page-default #page-body .UserInfos .UserInfo .info-q {
  background-color: #343f56;
}
/* line 132, ../../scss/themes/default/style.scss */
.page-default #page-body .UserInfos .UserInfo .info-a {
  background-color: #387c6d;
}
/* line 138, ../../scss/themes/default/style.scss */
.page-default #page-body .vik-map {
  background-color: #E7E7E7;
  padding: 20px 30px;
  margin-top: 20px;
}
/* line 143, ../../scss/themes/default/style.scss */
.page-default #page-body .vik-map .title h3 {
  background-color: transparent;
}
/* line 150, ../../scss/themes/default/style.scss */
.page-default #page-body .register-form {
  width: 40%;
  margin: 20px auto;
            /*.form-group {
                position: relative;
                padding: 10px 20px;
                box-shadow: 1px 1px 1px 1px color($colors, box-shadow);
                margin-bottom: 10px;

                input {
                    padding: 10px;
                    margin-bottom: 1px;
                }

                .namebefore {
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-right: 21px;
                    margin-top: 35px;
                    background-color: color($colors, secondary);
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 30px;
                        color: color($colors, grey);
                    }

                    &:hover {
                        .tip {
                            visibility: visible;
                            opacity: 1;
                            transition: 0.6s;
                        }
                    }

                    .tip {
                        position: absolute;
                        left: 70px;
                        font-size: 14px;
                        color: white;
                        border-radius: 2px;
                        opacity: .9;
                        padding: 1px 3px;*/
  /* margin: 0; */
                        /*width: 100px;
                    }
                }

                .span-group {
                    i {
                        background-color: color($colors, secondary);
                        width: 45px;
                        height: 45px;
                        margin-top: -4px;
                        margin-right: -4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .span-group {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    position: relative;

                    i {
                        position: absolute;
                        font-size: 30px;
                        color: color($colors, grey);
                        right: 5px;
                        top: 4px;
                    }
                }

                #password-icon:hover {
                    cursor: pointer;
                }
            }*/
}
/* line 154, ../../scss/themes/default/style.scss */
.page-default #page-body .register-form label {
  text-transform: capitalize;
}
/* line 158, ../../scss/themes/default/style.scss */
.page-default #page-body .register-form .requireds {
  color: red;
  font-size: 17px;
}
/* line 249, ../../scss/themes/default/style.scss */
.page-default #page-body .medicine .card, .page-default #page-body .phones .card {
  padding: 15px 5% 15px 100px;
  position: relative;
}
/* line 253, ../../scss/themes/default/style.scss */
.page-default #page-body .medicine .card .tarih, .page-default #page-body .phones .card .tarih {
  background-color: #343f56;
}
/* line 258, ../../scss/themes/default/style.scss */
.page-default #page-body .medicine .tarih, .page-default #page-body .phones .tarih {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  left: 16px;
  color: #fff;
}
/* line 267, ../../scss/themes/default/style.scss */
.page-default #page-body .medicine .tarih .gun, .page-default #page-body .phones .tarih .gun {
  font-family: "Roboto condensed",sans-serif;
  font-size: 28px;
  display: block;
  padding-top: 5px;
}
/* line 274, ../../scss/themes/default/style.scss */
.page-default #page-body .medicine .tarih .ay, .page-default #page-body .phones .tarih .ay {
  margin-top: -7px;
  display: block;
}
/* line 279, ../../scss/themes/default/style.scss */
.page-default #page-body .medicine .tarih .home-widget-title, .page-default #page-body .phones .tarih .home-widget-title {
  font-size: 18px;
  display: block;
  font-family: 'roboto condensed',sans-serif;
  color: #454545;
  margin-bottom: 10px !important;
}
/* line 287, ../../scss/themes/default/style.scss */
.page-default #page-body .medicine .tarih .textb, .page-default #page-body .phones .tarih .textb {
  color: #70757e;
  display: block;
  font-size: 15px;
}
/* line 298, ../../scss/themes/default/style.scss */
.page-default #page-body .phones .phone .tarih {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
/* line 309, ../../scss/themes/default/style.scss */
.page-default footer {
  margin-top: 50px;
  color: white;
  background-color: #343f56;
  height: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
/* line 319, ../../scss/themes/default/style.scss */
.page-default footer span {
  font-size: 14px;
}
/* line 325, ../../scss/themes/default/style.scss */
.page-default .dene-form input:focus {
  box-shadow: none;
  border: none;
}
/* line 330, ../../scss/themes/default/style.scss */
.page-default .dene-form label {
  padding: 7px;
  text-transform: uppercase;
  height: 34px;
  margin-top: 2px;
  background-color: #343f56;
  color: white;
  width: 50px;
}

/* line 344, ../../scss/themes/default/style.scss */
.theme-choice .color button {
  border-radius: 5px;
}

/* line 3, ../../scss/themes/purple/materials.scss */
body {
  font-weight: normal !important;
  line-height: normal !important;
}

/* line 8, ../../scss/themes/purple/materials.scss */
.page-purple .btn-primary {
  background-color: #5f27cd !important;
  border-color: #5f27cd !important;
}
/* line 13, ../../scss/themes/purple/materials.scss */
.page-purple .btn-secondary {
  background-color: #341f97 !important;
  border-color: #341f97 !important;
}
/* line 18, ../../scss/themes/purple/materials.scss */
.page-purple a {
  color: #5f27cd;
  text-transform: capitalize;
  text-decoration: none;
}
/* line 24, ../../scss/themes/purple/materials.scss */
.page-purple .tip {
  background-color: #341f97;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  text-align: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
/* line 35, ../../scss/themes/purple/materials.scss */
.page-purple .tip:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: -28px;
  margin-top: -14px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #387c6d transparent transparent;
}
/* line 48, ../../scss/themes/purple/materials.scss */
.page-purple .card h1, .page-purple .card h2, .page-purple .card h3, .page-purple .card h4, .page-purple .card h5, .page-purple .card h6 {
  text-transform: capitalize !important;
  font-weight: normal;
}
/* line 54, ../../scss/themes/purple/materials.scss */
.page-purple #toTop {
  position: fixed;
  right: 2%;
  bottom: 10%;
  display: none;
  /*For better looking button*/
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
  background-color: #341f97;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 18px;
  margin: 0;
  width: 50px;
  height: 50px;
}
/* line 77, ../../scss/themes/purple/materials.scss */
.page-purple .form-group input[type=text], .page-purple .form-group input[type=password] {
  box-shadow: none;
  border: 0.5px solid #E7E7E7;
  background-color: transparent !important;
}
/* line 82, ../../scss/themes/purple/materials.scss */
.page-purple .form-group input[type=text]:focus, .page-purple .form-group input[type=password]:focus {
  border: 0.5px solid #341f97;
}
/* line 86, ../../scss/themes/purple/materials.scss */
.page-purple .form-group input[type=text]:checked, .page-purple .form-group input[type=password]:checked {
  border: 0.5px solid #341f97;
}
/* line 93, ../../scss/themes/purple/materials.scss */
.page-purple .placeholder {
  position: absolute;
  top: 44px;
  left: 30px;
  transition: 0.5s;
  z-index: -2;
  opacity: 0.6;
}
/* line 102, ../../scss/themes/purple/materials.scss */
.page-purple .placeholder-up {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  font-size: 14px;
  transition: 0.3s;
  letter-spacing: 0.5px;
  padding: 1px 3px;
}

/* line 4, ../../scss/themes/purple/style.scss */
.page-purple {
  font-family: 'Roboto', sans-serif;
}
/* line 6, ../../scss/themes/purple/style.scss */
.page-purple #header {
  background-color: #5f27cd !important;
}
/* line 9, ../../scss/themes/purple/style.scss */
.page-purple #header .navbar {
  border-radius: 5px;
  background-color: #5f27cd !important;
}
/* line 13, ../../scss/themes/purple/style.scss */
.page-purple #header .navbar .nav-link {
  color: white !important;
  text-transform: capitalize;
}
/* line 19, ../../scss/themes/purple/style.scss */
.page-purple #header #photo {
  padding: 10px;
  border-radius: 10px;
}
/* line 23, ../../scss/themes/purple/style.scss */
.page-purple #header #photo img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 30%;
  border-radius: 50%;
}
/* line 32, ../../scss/themes/purple/style.scss */
.page-purple #header .theme-choice {
  position: absolute;
  top: 50px;
  left: 34px;
  width: 245px;
  padding: 3px 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 44, ../../scss/themes/purple/style.scss */
.page-purple #header .theme-choice .color {
  margin: 0 auto;
}
/* line 51, ../../scss/themes/purple/style.scss */
.page-purple #page-body .breadcrumb-host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* line 59, ../../scss/themes/purple/style.scss */
.page-purple #page-body .appointments .title {
  text-align: center;
  margin-bottom: 10px;
}
/* line 63, ../../scss/themes/purple/style.scss */
.page-purple #page-body .appointments .title h3 {
  text-transform: uppercase;
  z-index: 2;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px 10px;
  margin-top: 12px;
}
/* line 73, ../../scss/themes/purple/style.scss */
.page-purple #page-body .appointments .card {
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4);
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}
/* line 80, ../../scss/themes/purple/style.scss */
.page-purple #page-body .appointments .card .card-body .doctor-name {
  text-transform: uppercase;
}
/* line 83, ../../scss/themes/purple/style.scss */
.page-purple #page-body .appointments .card .card-body .doctor-name span {
  color: #341f97;
  display: block;
  font-weight: bold;
}
/* line 90, ../../scss/themes/purple/style.scss */
.page-purple #page-body .appointments .card .card-body .hospital-name {
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 96, ../../scss/themes/purple/style.scss */
.page-purple #page-body .appointments .card .time {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  padding: 10px;
  color: white;
  background-color: #5f27cd;
}
/* line 109, ../../scss/themes/purple/style.scss */
.page-purple #page-body .UserInfos {
  margin-top: 60px;
  margin-left: -40px;
  font-size: 15px;
  text-transform: capitalize;
  height: 100%;
  padding: 20px 10px;
  border-radius: 15px;
}
/* line 118, ../../scss/themes/purple/style.scss */
.page-purple #page-body .UserInfos .UserInfo {
  display: flex;
  text-align: center;
}
/* line 122, ../../scss/themes/purple/style.scss */
.page-purple #page-body .UserInfos .UserInfo .info-q, .page-purple #page-body .UserInfos .UserInfo .info-a {
  min-width: 170px;
  padding: 5px 10px;
  color: white;
}
/* line 128, ../../scss/themes/purple/style.scss */
.page-purple #page-body .UserInfos .UserInfo .info-q {
  background-color: #5f27cd;
}
/* line 132, ../../scss/themes/purple/style.scss */
.page-purple #page-body .UserInfos .UserInfo .info-a {
  background-color: #341f97;
}
/* line 138, ../../scss/themes/purple/style.scss */
.page-purple #page-body .vik-map {
  background-color: #E7E7E7;
  padding: 20px 30px;
  margin-top: 20px;
}
/* line 143, ../../scss/themes/purple/style.scss */
.page-purple #page-body .vik-map .title h3 {
  background-color: transparent;
}
/* line 150, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form {
  width: 40%;
  margin: 20px auto;
}
/* line 154, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form label {
  text-transform: capitalize;
}
/* line 158, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .requireds {
  color: red;
  font-size: 17px;
}
/* line 163, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group {
  position: relative;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 1px #f8f5f1;
  margin-bottom: 10px;
}
/* line 169, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group input {
  padding: 10px;
  margin-bottom: 1px;
}
/* line 174, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group .namebefore {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 21px;
  margin-top: 35px;
  background-color: #341f97;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 187, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group .namebefore i {
  font-size: 30px;
  color: #E7E7E7;
}
/* line 193, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group .namebefore:hover .tip {
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
}
/* line 200, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group .namebefore .tip {
  position: absolute;
  left: 70px;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  opacity: .9;
  padding: 1px 3px;
  /* margin: 0; */
  width: 100px;
}
/* line 214, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group .span-group i {
  background-color: #341f97;
  width: 45px;
  height: 45px;
  margin-top: -4px;
  margin-right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 226, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group .span-group {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
/* line 232, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group .span-group i {
  position: absolute;
  font-size: 30px;
  color: #E7E7E7;
  right: 5px;
  top: 4px;
}
/* line 241, ../../scss/themes/purple/style.scss */
.page-purple #page-body .register-form .form-group #password-icon:hover {
  cursor: pointer;
}
/* line 249, ../../scss/themes/purple/style.scss */
.page-purple #page-body .medicine .card, .page-purple #page-body .phones .card {
  padding: 15px 5% 15px 100px;
  position: relative;
}
/* line 253, ../../scss/themes/purple/style.scss */
.page-purple #page-body .medicine .card .tarih, .page-purple #page-body .phones .card .tarih {
  background-color: #5f27cd;
}
/* line 258, ../../scss/themes/purple/style.scss */
.page-purple #page-body .medicine .tarih, .page-purple #page-body .phones .tarih {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  left: 16px;
  color: #fff;
}
/* line 267, ../../scss/themes/purple/style.scss */
.page-purple #page-body .medicine .tarih .gun, .page-purple #page-body .phones .tarih .gun {
  font-family: "Roboto condensed",sans-serif;
  font-size: 28px;
  display: block;
  padding-top: 5px;
}
/* line 274, ../../scss/themes/purple/style.scss */
.page-purple #page-body .medicine .tarih .ay, .page-purple #page-body .phones .tarih .ay {
  margin-top: -7px;
  display: block;
}
/* line 279, ../../scss/themes/purple/style.scss */
.page-purple #page-body .medicine .tarih .home-widget-title, .page-purple #page-body .phones .tarih .home-widget-title {
  font-size: 18px;
  display: block;
  font-family: 'roboto condensed',sans-serif;
  color: #454545;
  margin-bottom: 10px !important;
}
/* line 287, ../../scss/themes/purple/style.scss */
.page-purple #page-body .medicine .tarih .textb, .page-purple #page-body .phones .tarih .textb {
  color: #70757e;
  display: block;
  font-size: 15px;
}
/* line 298, ../../scss/themes/purple/style.scss */
.page-purple #page-body .phones .phone .tarih {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
/* line 309, ../../scss/themes/purple/style.scss */
.page-purple footer {
  margin-top: 50px;
  color: white;
  background-color: #5f27cd;
  height: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
/* line 319, ../../scss/themes/purple/style.scss */
.page-purple footer span {
  font-size: 14px;
}
/* line 325, ../../scss/themes/purple/style.scss */
.page-purple .dene-form input:focus {
  box-shadow: none;
  border: none;
}
/* line 330, ../../scss/themes/purple/style.scss */
.page-purple .dene-form label {
  padding: 7px;
  text-transform: uppercase;
  height: 34px;
  margin-top: 2px;
  background-color: #5f27cd;
  color: white;
  width: 50px;
}

/* line 344, ../../scss/themes/purple/style.scss */
.theme-choice .color button {
  border-radius: 5px;
}

/* line 3, ../../scss/themes/red/materials.scss */
body {
  font-weight: normal !important;
  line-height: normal !important;
}

/* line 8, ../../scss/themes/red/materials.scss */
.page-red .btn-primary {
  background-color: #F39C12 !important;
  border-color: #F39C12 !important;
}
/* line 13, ../../scss/themes/red/materials.scss */
.page-red .btn-secondary {
  background-color: #FF9F43 !important;
  border-color: #FF9F43 !important;
}
/* line 18, ../../scss/themes/red/materials.scss */
.page-red a {
  color: #F39C12;
  text-transform: capitalize;
  text-decoration: none;
}
/* line 24, ../../scss/themes/red/materials.scss */
.page-red .tip {
  background-color: #FF9F43;
  color: white;
  padding: 5px 10px;
  text-transform: capitalize;
  text-align: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
/* line 35, ../../scss/themes/red/materials.scss */
.page-red .tip:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: -28px;
  margin-top: -14px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #387c6d transparent transparent;
}
/* line 48, ../../scss/themes/red/materials.scss */
.page-red .card h1, .page-red .card h2, .page-red .card h3, .page-red .card h4, .page-red .card h5, .page-red .card h6 {
  text-transform: capitalize !important;
  font-weight: normal;
}
/* line 54, ../../scss/themes/red/materials.scss */
.page-red #toTop {
  position: fixed;
  right: 2%;
  bottom: 10%;
  display: none;
  /*For better looking button*/
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
  background-color: #FF9F43;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 18px;
  margin: 0;
  width: 50px;
  height: 50px;
}
/* line 77, ../../scss/themes/red/materials.scss */
.page-red .form-group input[type=text], .page-red .form-group input[type=password] {
  box-shadow: none;
  border: 0.5px solid #E7E7E7;
  background-color: transparent !important;
}
/* line 82, ../../scss/themes/red/materials.scss */
.page-red .form-group input[type=text]:focus, .page-red .form-group input[type=password]:focus {
  border: 0.5px solid #FF9F43;
}
/* line 86, ../../scss/themes/red/materials.scss */
.page-red .form-group input[type=text]:checked, .page-red .form-group input[type=password]:checked {
  border: 0.5px solid #FF9F43;
}
/* line 93, ../../scss/themes/red/materials.scss */
.page-red .placeholder {
  position: absolute;
  top: 44px;
  left: 30px;
  transition: 0.5s;
  z-index: -2;
  opacity: 0.6;
}
/* line 102, ../../scss/themes/red/materials.scss */
.page-red .placeholder-up {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color: white;
  font-size: 14px;
  transition: 0.3s;
  letter-spacing: 0.5px;
  padding: 1px 3px;
}

/* line 4, ../../scss/themes/red/style.scss */
.page-red {
  font-family: 'Roboto', sans-serif;
}
/* line 6, ../../scss/themes/red/style.scss */
.page-red #header {
  background-color: #F39C12 !important;
}
/* line 9, ../../scss/themes/red/style.scss */
.page-red #header .navbar {
  border-radius: 5px;
  background-color: #F39C12 !important;
}
/* line 13, ../../scss/themes/red/style.scss */
.page-red #header .navbar .nav-link {
  color: white !important;
  text-transform: capitalize;
}
/* line 19, ../../scss/themes/red/style.scss */
.page-red #header #photo {
  padding: 10px;
  border-radius: 10px;
}
/* line 23, ../../scss/themes/red/style.scss */
.page-red #header #photo img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 30%;
  border-radius: 50%;
}
/* line 32, ../../scss/themes/red/style.scss */
.page-red #header .theme-choice {
  position: absolute;
  top: 50px;
  left: 34px;
  width: 245px;
  padding: 3px 6px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 44, ../../scss/themes/red/style.scss */
.page-red #header .theme-choice .color {
  margin: 0 auto;
}
/* line 51, ../../scss/themes/red/style.scss */
.page-red #page-body .breadcrumb-host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* line 59, ../../scss/themes/red/style.scss */
.page-red #page-body .appointments .title {
  text-align: center;
  margin-bottom: 10px;
}
/* line 63, ../../scss/themes/red/style.scss */
.page-red #page-body .appointments .title h3 {
  text-transform: uppercase;
  z-index: 2;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px 10px;
  margin-top: 12px;
}
/* line 73, ../../scss/themes/red/style.scss */
.page-red #page-body .appointments .card {
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4);
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}
/* line 80, ../../scss/themes/red/style.scss */
.page-red #page-body .appointments .card .card-body .doctor-name {
  text-transform: uppercase;
}
/* line 83, ../../scss/themes/red/style.scss */
.page-red #page-body .appointments .card .card-body .doctor-name span {
  color: #FF9F43;
  display: block;
  font-weight: bold;
}
/* line 90, ../../scss/themes/red/style.scss */
.page-red #page-body .appointments .card .card-body .hospital-name {
  text-transform: uppercase;
  margin-top: 50px;
}
/* line 96, ../../scss/themes/red/style.scss */
.page-red #page-body .appointments .card .time {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  padding: 10px;
  color: white;
  background-color: #F39C12;
}
/* line 109, ../../scss/themes/red/style.scss */
.page-red #page-body .UserInfos {
  margin-top: 60px;
  margin-left: -40px;
  font-size: 15px;
  text-transform: capitalize;
  height: 100%;
  padding: 20px 10px;
  border-radius: 15px;
}
/* line 118, ../../scss/themes/red/style.scss */
.page-red #page-body .UserInfos .UserInfo {
  display: flex;
  text-align: center;
}
/* line 122, ../../scss/themes/red/style.scss */
.page-red #page-body .UserInfos .UserInfo .info-q, .page-red #page-body .UserInfos .UserInfo .info-a {
  min-width: 170px;
  padding: 5px 10px;
  color: white;
}
/* line 128, ../../scss/themes/red/style.scss */
.page-red #page-body .UserInfos .UserInfo .info-q {
  background-color: #F39C12;
}
/* line 132, ../../scss/themes/red/style.scss */
.page-red #page-body .UserInfos .UserInfo .info-a {
  background-color: #FF9F43;
}
/* line 138, ../../scss/themes/red/style.scss */
.page-red #page-body .vik-map {
  background-color: #E7E7E7;
  padding: 20px 30px;
  margin-top: 20px;
}
/* line 143, ../../scss/themes/red/style.scss */
.page-red #page-body .vik-map .title h3 {
  background-color: transparent;
}
/* line 150, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form {
  width: 40%;
  margin: 20px auto;
}
/* line 154, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form label {
  text-transform: capitalize;
}
/* line 158, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .requireds {
  color: red;
  font-size: 17px;
}
/* line 163, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group {
  position: relative;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 1px #f8f5f1;
  margin-bottom: 10px;
}
/* line 169, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group input {
  padding: 10px;
  margin-bottom: 1px;
}
/* line 174, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group .namebefore {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 21px;
  margin-top: 35px;
  background-color: #FF9F43;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 187, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group .namebefore i {
  font-size: 30px;
  color: #E7E7E7;
}
/* line 193, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group .namebefore:hover .tip {
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
}
/* line 200, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group .namebefore .tip {
  position: absolute;
  left: 70px;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  opacity: .9;
  padding: 1px 3px;
  /* margin: 0; */
  width: 100px;
}
/* line 214, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group .span-group i {
  background-color: #FF9F43;
  width: 45px;
  height: 45px;
  margin-top: -4px;
  margin-right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 226, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group .span-group {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
/* line 232, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group .span-group i {
  position: absolute;
  font-size: 30px;
  color: #E7E7E7;
  right: 5px;
  top: 4px;
}
/* line 241, ../../scss/themes/red/style.scss */
.page-red #page-body .register-form .form-group #password-icon:hover {
  cursor: pointer;
}
/* line 249, ../../scss/themes/red/style.scss */
.page-red #page-body .medicine .card, .page-red #page-body .phones .card {
  padding: 15px 5% 15px 100px;
  position: relative;
}
/* line 253, ../../scss/themes/red/style.scss */
.page-red #page-body .medicine .card .tarih, .page-red #page-body .phones .card .tarih {
  background-color: #F39C12;
}
/* line 258, ../../scss/themes/red/style.scss */
.page-red #page-body .medicine .tarih, .page-red #page-body .phones .tarih {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  left: 16px;
  color: #fff;
}
/* line 267, ../../scss/themes/red/style.scss */
.page-red #page-body .medicine .tarih .gun, .page-red #page-body .phones .tarih .gun {
  font-family: "Roboto condensed",sans-serif;
  font-size: 28px;
  display: block;
  padding-top: 5px;
}
/* line 274, ../../scss/themes/red/style.scss */
.page-red #page-body .medicine .tarih .ay, .page-red #page-body .phones .tarih .ay {
  margin-top: -7px;
  display: block;
}
/* line 279, ../../scss/themes/red/style.scss */
.page-red #page-body .medicine .tarih .home-widget-title, .page-red #page-body .phones .tarih .home-widget-title {
  font-size: 18px;
  display: block;
  font-family: 'roboto condensed',sans-serif;
  color: #454545;
  margin-bottom: 10px !important;
}
/* line 287, ../../scss/themes/red/style.scss */
.page-red #page-body .medicine .tarih .textb, .page-red #page-body .phones .tarih .textb {
  color: #70757e;
  display: block;
  font-size: 15px;
}
/* line 298, ../../scss/themes/red/style.scss */
.page-red #page-body .phones .phone .tarih {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
/* line 309, ../../scss/themes/red/style.scss */
.page-red footer {
  margin-top: 50px;
  color: white;
  background-color: #F39C12;
  height: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
/* line 319, ../../scss/themes/red/style.scss */
.page-red footer span {
  font-size: 14px;
}
/* line 325, ../../scss/themes/red/style.scss */
.page-red .dene-form input:focus {
  box-shadow: none;
  border: none;
}
/* line 330, ../../scss/themes/red/style.scss */
.page-red .dene-form label {
  padding: 7px;
  text-transform: uppercase;
  height: 34px;
  margin-top: 2px;
  background-color: #F39C12;
  color: white;
  width: 50px;
}

/* line 344, ../../scss/themes/red/style.scss */
.theme-choice .color button {
  border-radius: 5px;
}
